<%= turbo_frame_tag dom_id(todo) do %>
  <div class="<%= 'bg-gray-200' if todo.completed %> p-2 m-2 flex justify-between">
    <%= todo.title %>
    <%= button_to 'Delete', todo_path(todo),method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
  </div>
<% end %>
